
<ng-container>
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr >
                            <td>{{checkout?.name}}</td>
                            <td><img style="width: 120px;" src={{checkout?.imageURL}} alt=""></td>
                            <th style="width: 12%;">{{checkout?.price}}</th>
                            <td style="width: 12%;">{{checkout?.quantity}}</td>
                            <td style="width: 12%;">{{checkout?.total}}</td>
                            <td>
                                <button  mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
                                    <!-- (click)="deleteOrder()" -->
                                    <mat-icon>delete</mat-icon>
                                </button>
                                <!-- (click)="removeItem(item)" -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>